body{
    font-family: Arial, Helvetica, sans-serif
    
    }

    .navbar { 
        background-color: rgb(255, 187, 221);
        padding: 1rem 2rem;
        display: flex; 
        text-align: space-between;
        list-style-type: none;
    }